In [1]:
# Importamos Pandas, para poder manipular los datos.
import pandas as pd

In [2]:
# Comenzamos a cargar los datos.
df_amazon = pd.read_csv(r'E:\Documentos\Soy Henry\Labs\PI01_DATA05-main\Datasets\amazon_prime_titles.csv', sep=',')
df_disney = pd.read_csv(r'E:\Documentos\Soy Henry\Labs\PI01_DATA05-main\Datasets\disney_plus_titles.csv')
df_hulu = pd.read_csv(r'E:\Documentos\Soy Henry\Labs\PI01_DATA05-main\Datasets\hulu_titles.csv')
df_netflix = pd.read_json(r'E:\Documentos\Soy Henry\Labs\PI01_DATA05-main\Datasets\netflix_titles.json')

In [3]:
# Eliminamos las columnas que no sean necesarias para este proyecto, asignadolas en una nueva variable,
# para no perder los datos eliminados.
df_amazon2 = df_amazon.drop(['country','date_added','description'], axis=1)
df_disney2 = df_disney.drop(['country','date_added','description'], axis=1)
df_hulu2 = df_hulu.drop(['country','date_added','description'], axis=1)
df_netflix2 = df_netflix.drop(['country','date_added','description'], axis=1)

In [4]:
# Realizar proceso EDA.
'''No es necesario Ejecutar.'''
#df_amazon2.isna().sum()
#df_disney2.isna().sum()
#df_hulu2.isna().sum()
#df_netflix2.isna().sum()

'No es necesario Ejecutar'

In [4]:
# Rellenamos los datos vacios "NaN", por un string "Sin Dato".
df_amazon2['rating'].fillna('Sin Dato',inplace=True)
df_amazon2['cast'].fillna('Sin Dato',inplace=True)
df_amazon2['director'].fillna('Sin Dato',inplace=True)

df_disney2['director'].fillna('Sin Datos', inplace=True)
df_disney2['cast'].fillna('Sin Datos', inplace=True)
df_disney2['rating'].fillna('Sin Datos', inplace=True)

df_hulu2['director'].fillna('Sin Dato', inplace=True)
df_hulu2['cast'].fillna('Sin Dato', inplace=True)
df_hulu2['rating'].fillna('Sin Dato', inplace=True)
df_hulu2['duration'].fillna('Sin Datos', inplace=True)

df_netflix2['director'].fillna('Sin Datos', inplace=True)
df_netflix2['cast'].fillna('Sin Datos', inplace=True)
df_netflix2['rating'].fillna('Sin Datos', inplace=True)
df_netflix2['duration'].fillna('Sin Datos', inplace=True)

In [5]:
# Creamos una columna de 'plataforma' para identificar en que plataforma esta disponible.
df_amazon2['platform']='Amazon_Prime'
df_disney2['platform']='Disney_Plus'
df_hulu2['platform']='Hulu'
df_netflix2['platform']='Netflix'

In [6]:
# Concatenamos los 4 DataFrame para trabajarlos todos juntos.
df_peliculas = pd.concat([df_amazon2,df_disney2,df_hulu2,df_netflix2], ignore_index= True)

In [19]:
df_peliculas #Lo ejecutamos para comprobar que este todo bien.

,Id_Show,Tipo,Titulo,Director,Actores,Lanzamiento,Clasificacion,Duracion,Genero,Plataforma
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,Sin Dato,113 min,"Comedy, Drama",Amazon_Prime
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,13+,110 min,"Drama, International",Amazon_Prime
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",2017,Sin Dato,74 min,"Action, Drama, Suspense",Amazon_Prime
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",2014,Sin Dato,69 min,Documentary,Amazon_Prime
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",1989,Sin Dato,45 min,"Drama, Fantasy",Amazon_Prime
...,...,...,...,...,...,...,...,...,...,...
22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",2007,R,158 min,"Cult Movies, Dramas, Thrillers",Netflix
22994,s8804,TV Show,Zombie Dumb,Sin Datos,Sin Datos,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",Netflix
22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",2009,R,88 min,"Comedies, Horror Movies",Netflix
22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",2006,PG,88 min,"Children & Family Movies, Comedies",Netflix
22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",Netflix

In [7]:
# Normalizamos lps nombres de las columnas del DataFrame.
df_peliculas = df_peliculas.rename(columns={df_peliculas.columns[0]: 'Id_Show',
                                            df_peliculas.columns[1]: 'Tipo',
                                            df_peliculas.columns[2]: 'Titulo',
                                            df_peliculas.columns[3]: 'Director',
                                            df_peliculas.columns[4]: 'Actores',
                                            df_peliculas.columns[5]: 'Lanzamiento',
                                            df_peliculas.columns[6]: 'Clasificacion',
                                            df_peliculas.columns[7]: 'Duracion',
                                            df_peliculas.columns[8]: 'Genero',
                                            df_peliculas.columns[9]: 'Plataforma'})

In [8]:
# Creamos la conexion con MySQL usando la libreria 'sqlalchemy'.
from sqlalchemy import create_engine

In [9]:
# Configuramos la conexi√≥n.
cadena_conexion = 'mysql+pymysql://root:0123456789@localhost:3306/pi_01'
conexion = create_engine(cadena_conexion)

In [10]:
# Cargamos la tabla a nuestro DB de SQL.
df_peliculas.to_sql(name = 'pelicula', con = conexion)

22998

In [11]:
# Creamos DF auxiliares. 
df_actores = df_peliculas[['Actores']].drop_duplicates()

In [12]:
# Separamos los actores que compartan un mismo dato.
df_actores['Actores']=df_actores['Actores'].str.split(', ')

In [13]:
df_actores=df_actores.explode('Actores')

In [14]:
# Cargamos la tabla a nuestro DB de SQL.
df_actores.to_sql(name = 'actor', con = conexion)

112065

In [15]:
# Creamos un DF de generos, realizando los mismos pasos que en el DF de actores.
df_generos=df_peliculas[['Genero']]

In [16]:
df_generos['Genero']=df_generos['Genero'].str.split(', ')

C:\Users\Lucas\AppData\Local\Temp\ipykernel_7216\2307359179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_generos['Genero']=df_generos['Genero'].str.split(', ')

In [17]:
df_generos=df_generos.explode('Genero')

In [18]:
df_generos.to_sql(name = 'genero', con = conexion)

48303